@{
    ViewBag.Title = "My Cart";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Cart.css" />
</head>
<body>
    @if (Model.isOrdered)
    {
        if (Model.getItems().Count == 0)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                Your cart is empty.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }
        else
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                Cart ordered!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        }
    }
    <h1>@ViewBag.Title</h1>
    <div id="cart-list">
        @foreach (KeyValuePair<int, MiniProject.Data.Models.CartItem> item in Model.getItems())
        {
            <div class="cart-item">
                <div>
                    <img src="~/Content/Images/@item.Value.dish.Image" />
                </div>
                <div>
                    <p>@item.Value.dish.restaurant</p>
                    <p><strong>@item.Value.dish.Name</strong></p>
                    <p>@item.Value.dish.Description</p>
                </div>
                <p>Quantity: @item.Value.quantity</p>
                <p>@item.Value.getPrice() €</p>
                <div>
                    @Html.ActionLink("+", "Cart", "Home", new { _itemKey = item.Key, _action = 1 }, new { @type = "button", @class = "btn btn-default" })
                    @Html.ActionLink("-", "Cart", "Home", new { _itemKey = item.Key, _action = -1 }, new { @type = "button", @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
    <div>
        <p id="cart-price">Total Price: <strong>@Model.getPrice() €</strong></p>
        @Html.ActionLink("Order", "Cart", "Home", new { _itemKey = 0, _action = 2 }, new { @type = "button", @class = "btn btn-success" })
    </div>
</body>
</html>