
@{
    ViewBag.Title = "DishDetails";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DishDetails.css" />
</head>
<body>
    @if (Model.isAddedToCart)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            New dish added to your cart!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    }
    <div id="content">
        <img src="~/Content/Images/@Model.Image" />

        <div id="infos">
            <h2>@Model.restaurant</h2>
            <h1><strong>@Model.Name</strong> @Model.Price €</h1>
            <p>@Model.Description</p>

            @Html.ActionLink("Add to My Cart", "DishDetails", "Home", new { dishId = @Model.Id, addToCart = 1 }, new { @type = "button", @class = "btn btn-success" })
        </div>
    </div>
</body>
</html>